.main_block {
    width: 755px;
    height: 2633px;
    background-color: rgb(255, 253, 250);
    margin:auto;
}
div[class^="razdel"] {
    width: 200px;
    height: 24px;
    font-size: 2em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    font-weight: 300;
    color: #492f28;
    text-shadow: 2px 0px 2px rgb(253, 214, 214);
}
div[class^="razdel"]:hover {
    text-shadow: 2px 0px 12px rgb(189, 23, 23);
    cursor: pointer;
}
div[class^="volna"] {
    width: 711px;
    height: 5px;
    background-image: url(./img/razdelitel_volna.png);
    background-repeat: repeat-x;
    position: absolute;
    opacity: 0.6;
}
div[class^="bludo"] {
    width: 141px;
    height: 96px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    border-radius: 20px;
    box-shadow: 0px 1px 9px rgb(66 42 11);
}
div[class^="bludo"]:hover {
    opacity: 0.8;
    cursor: pointer;
}
div[class^="nazv"] {
    font-size: 1.3em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    font-weight: 300;
    color: #d68b1b;
}
div[class^="nazv"]:hover {
    font-size: 1.4em;
    cursor: pointer;
}
div[class^="mnogotoch"] {
    background-image: url(./img/mnogotoch.png);
    background-repeat: repeat-x;
    position: absolute;
}
div[class^="mnogotoch"]::after {
    width: 62px;
    height: 20px;
    font-size: 1.5em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    font-weight: 300;
    color: #d68b1b;
}
div[class^="mnogotoch"]:hover::after{
    font-size: 1.6em;
    color: black;
    cursor: pointer;
    text-shadow: 2px 0px 7px rgb(189, 23, 23);
}
div[class^="opis"] {
    width: 547px;
    height: 40px;
    font-size: 0.9em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:justify;
    position: absolute;
    color: #0e0d0d;
    opacity: 0.8;
}
.razdel1 {
    margin-top:30px;
    margin-left:22px;
}
.volna1 { 
    margin-top:82px;
    margin-left:22px;
}
.bludo1 {
    margin-top:110px;
    margin-left:22px;
    background-image: url(./img/bludo1.jpg);
}
.nazv1 {
    width: 95px;
    height: 16px;
    margin-top:116px;
    margin-left:182px;
}
.mnogotoch1 {
    width: 388px;
    height: 1px;
    margin-top:134px;
    margin-left:276px;
}
.mnogotoch1::after {
    margin-top: -21px;
    margin-left: 393px;
    content: '$2,00';
}
.opis1 {
    margin-top:162px;
    margin-left:182px;
}
.bludo2 { 
    margin-top:230px;
    margin-left:22px;
    background-image: url(./img/bludo2.jpg); 
}
.nazv2 {
    width: 271px;
    height: 16px;
    margin-top:236px;
    margin-left:182px;
}
.mnogotoch2 {
    width: 244px;
    height: 1px;
    margin-top:254px;
    margin-left:420px;
}
.mnogotoch2::after {
    margin-top: -21px;
    margin-left: 249px;
    content: '$4,50'; 
}
.opis2 {
    margin-top:282px;
    margin-left:182px;
}
.bludo3 { 
    margin-top:350px;
    margin-left:22px;
    background-image: url(./img/bludo3.jpg); 
}
.nazv3 {
    width: 271px;
    height: 16px;
    margin-top:356px;
    margin-left:182px;
}
.mnogotoch3 {
    width: 282px;
    height: 1px;
    margin-top:374px;
    margin-left:375px;
}
.mnogotoch3::after {
    margin-top: -21px;
    margin-left: 285px;
    content: '$12,50'; 
}
.opis3 {
    margin-top:402px;
    margin-left:182px;
}
.bludo4 { 
    margin-top:470px;
    margin-left:22px;
    background-image: url(./img/bludo4.jpg); 
}
.nazv4 {
    width: 271px;
    height: 16px;
    margin-top:476px;
    margin-left:182px;
}
.mnogotoch4 {
    width: 348px;
    height: 1px;
    margin-top:494px;
    margin-left:320px;
}
.mnogotoch4::after {
    margin-top: -21px;
    margin-left: 353px;
    content: '$7,15'; 
}
.opis4 {
    margin-top:522px;
    margin-left:182px;
}
.razdel2 {
    margin-top:596px;
    margin-left:22px;
}
.volna2 { 
    margin-top:648px;
    margin-left:22px;
}
.bludo5 { 
    margin-top:676px;
    margin-left:22px;
    background-image: url(./img/bludo1.jpg); 
}
.nazv5 {
    width: 271px;
    height: 16px;
    margin-top:682px;
    margin-left:182px;
}
.mnogotoch5 {
    width: 319px;
    height: 1px;
    margin-top:700px;
    margin-left:345px;
}
.mnogotoch5::after {
    margin-top: -21px;
    margin-left: 323px;
    content: '$8,00'; 
}
.opis5 {
    margin-top:728px;
    margin-left:182px;
}
.bludo6 { 
    margin-top:796px;
    margin-left:22px;
    background-image: url(./img/bludo2.jpg); 
}
.nazv6 {
    width: 271px;
    height: 16px;
    margin-top:802px;
    margin-left:182px;
}
.mnogotoch6 {
    width: 287px;
    height: 1px;
    margin-top:820px;
    margin-left:381px;
}
.mnogotoch6::after {
    margin-top: -21px;
    margin-left: 290px;
    content: '$6,50'; 
}
.opis6 {
    margin-top:848px;
    margin-left:182px;
}
.bludo7 { 
    margin-top:916px;
    margin-left:22px;
    background-image: url(./img/bludo3.jpg); 
}
.nazv7 {
    width: 320px;
    height: 16px;
    margin-top:922px;
    margin-left:182px;
}
.mnogotoch7 {
    width: 203px;
    height: 1px;
    margin-top:940px;
    margin-left:456px;
}
.mnogotoch7::after {
    margin-top: -21px;
    margin-left: 205px;
    content: '$12,50'; 
}
.opis7 {
    margin-top:968px;
    margin-left:182px;
}
.razdel3 {
    margin-top:1042px;
    margin-left:22px;
}
.volna3 { 
    margin-top:1094px;
    margin-left:22px;
}
.bludo8 { 
    margin-top:1122px;
    margin-left:22px;
    background-image: url(./img/bludo1.jpg); 
}
.nazv8 {
    width: 271px;
    height: 16px;
    margin-top:1128px;
    margin-left:182px;
}
.mnogotoch8 {
    width: 252px;
    height: 1px;
    margin-top:1147px;
    margin-left:417px;
}
.mnogotoch8::after {
    margin-top: -21px;
    margin-left: 254px;
    content: '$3,50'; 
}
.opis8 {
    margin-top:1174px;
    margin-left:182px;
}
.bludo9 { 
    margin-top:1242px;
    margin-left:22px;
    background-image: url(./img/bludo2.jpg); 
}
.nazv9 {
    width: 271px;
    height: 16px;
    margin-top:1248px;
    margin-left:182px;
}
.mnogotoch9 {
    width: 285px;
    height: 1px;
    margin-top:1267px;
    margin-left:386px;
}
.mnogotoch9::after {
    margin-top: -21px;
    margin-left: 286px;
    content: '$8,50'; 
}
.opis9 {
    margin-top:1294px;
    margin-left:182px;
}
.bludo10 { 
    margin-top:1362px;
    margin-left:22px;
    background-image: url(./img/bludo3.jpg); 
}
.nazv10 {
    width: 271px;
    height: 16px;
    margin-top:1368px;
    margin-left:182px;
}
.mnogotoch10 {
    width: 297px;
    height: 1px;
    margin-top:1387px;
    margin-left:363px;
}
.mnogotoch10::after {
    margin-top: -21px;
    margin-left: 298px;
    content: '$10,50'; 
}
.opis10 {
    margin-top:1414px;
    margin-left:182px;
}
.razdel4 {
    margin-top:1488px;
    margin-left:22px;
}
.volna4 { 
    margin-top:1540px;
    margin-left:22px;
}
.bludo11 { 
    margin-top:1568px;
    margin-left:22px;
    background-image: url(./img/bludo1.jpg); 
}
.nazv11 {
    width: 271px;
    height: 16px;
    margin-top:1574px;
    margin-left:182px;
}
.mnogotoch11 {
    width: 341px;
    height: 1px;
    margin-top:1592px;
    margin-left:329px;
}
.mnogotoch11::after {
    margin-top: -21px;
    margin-left: 342px;
    content: '$6,80'; 
}
.opis11 {
    margin-top:1620px;
    margin-left:182px;
}
.bludo12 { 
    margin-top:1688px;
    margin-left:22px;
    background-image: url(./img/bludo2.jpg); 
}
.nazv12 {
    width: 271px;
    height: 16px;
    margin-top:1694px;
    margin-left:182px;
}
.mnogotoch12 {
    width: 276px;
    height: 1px;
    margin-top:1712px;
    margin-left:398px;
}
.mnogotoch12::after {
    margin-top: -21px;
    margin-left: 277px;
    content: '$4,50'; 
}
.opis12 {
    margin-top:1740px;
    margin-left:182px;
}
.bludo13 { 
    margin-top:1808px;
    margin-left:22px;
    background-image: url(./img/bludo3.jpg); 
}
.nazv13 {
    width: 271px;
    height: 16px;
    margin-top:1814px;
    margin-left:182px;
}
.mnogotoch13 {
    width: 347px;
    height: 1px;
    margin-top:1832px;
    margin-left:316px;
}
.mnogotoch13::after {
    margin-top: -21px;
    margin-left: 348px;
    content: '$18,50'; 
}
.opis13 {
    margin-top:1860px;
    margin-left:182px;
}
.bludo14 { 
    margin-top:1928px;
    margin-left:22px;
    background-image: url(./img/bludo4.jpg); 
}
.nazv14 {
    width: 271px;
    height: 16px;
    margin-top:1934px;
    margin-left:182px;
}
.mnogotoch14 {
    width: 312px;
    height: 1px;
    margin-top:1952px;
    margin-left:366px;
}
.mnogotoch14::after {
    margin-top: -21px;
    margin-left: 313px;
    content: '$7,15'; 
}
.opis14 {
    margin-top:1980px;
    margin-left:182px;
}
.razdel5 {
    margin-top:2054px;
    margin-left:22px;
}
.volna5 { 
    margin-top:2106px;
    margin-left:22px;
}
.bludo15 { 
    margin-top: 2134px;
    margin-left:22px;
    background-image: url(./img/bludo1.jpg); 
}
.nazv15 {
    width: 271px;
    height: 16px;
    margin-top:2140px;
    margin-left:182px;
}
.mnogotoch15 {
    width: 309px;
    height: 1px;
    margin-top:2158px;
    margin-left:366px;
}
.mnogotoch15::after {
    margin-top: -21px;
    margin-left: 310px;
    content: '$6,80'; 
}
.opis15 {
    margin-top: 2186px;
    margin-left:182px;
}
.bludo16 { 
    margin-top: 2254px;
    margin-left:22px;
    background-image: url(./img/bludo2.jpg); 
}
.nazv16 {
    width: 340px;
    height: 16px;
    margin-top:2260px;
    margin-left:182px;
}
.mnogotoch16 {
    width: 192px;
    height: 1px;
    margin-top:2278px;
    margin-left:487px;
}
.mnogotoch16::after {
    margin-top: -21px;
    margin-left: 191px;
    content: '$4,50'; 
}
.opis16 {
    margin-top: 2306px;
    margin-left:182px;
}
.bludo17 { 
    margin-top: 2374px;
    margin-left:22px;
    background-image: url(./img/bludo3.jpg); 
}
.nazv17 {
    width: 340px;
    height: 16px;
    margin-top:2380px;
    margin-left:182px;
}
.mnogotoch17 {
    width: 184px;
    height: 1px;
    margin-top:2398px;
    margin-left:483px;
}
.mnogotoch17::after {
    margin-top: -21px;
    margin-left: 185px;
    content: '$18,50'; 
}
.opis17 {
    margin-top: 2426px;
    margin-left:182px;
}
.bludo18 { 
    margin-top: 2494px;
    margin-left:22px;
    background-image: url(./img/bludo4.jpg); 
}
.nazv18 {
    width: 302px;
    height: 16px;
    margin-top:2500px;
    margin-left:182px;
}
.mnogotoch18 {
    width: 378px;
    height: 1px;
    margin-top:2518px;
    margin-left:306px;
}
.mnogotoch18::after {
    margin-top: -21px;
    margin-left: 379px;
    content: '$7,15'; 
}
.opis18 {
    margin-top: 2546px;
    margin-left:182px;
}
